/* Navbar */

nav {
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
}

.nav-link{
    opacity: 0.7;
}

.nav-link:hover{
    opacity: 1;
    background-color: #eee !important;
}

/*Header*/
header{
    /*Sizing of the element*/
    height: 600px;
    width:100%;
    /*Set and adjust background image*/
    background-image: url("https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_1280.jpg");
    background-size: cover;
    opacity: 0.9;
    /*Text properties for itself and all children elements*/
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

header h1{
    font-size: 80px;
    padding: 40px;
}

header p{
    font-size: 24px;
    font-style: italic;
    font-weight: 450;
    padding-bottom: 30px;
}

/*Services*/
.services{
    padding: 80px 0 80px 0;
    text-align: center;
}

.services i{
    /*Resize the container the icon is in*/
    width: 80px;
    height: 80px;
    /*Adjust the size and position of the icon*/
    font-size: 30px;
    padding: 25px 20px;
    /*Color changes the color of the icon*/
    color: #fff;
    background-color: #5bc0de;
    /*Changes the roundness of the container*/
    border-radius: 50%;
}

.services span{
    width: 200px;
    display: inline-block;
    font-size: 20px;
}
.services h1, .services span{
    color: #323A45;
}
